<%- layout("layouts/boilerplate") %>

<div class="row">
    <h1 class="text-center">Edit Dive Spot</h1>
    <div class="col-6 offset-3">
        <form action="/diveSpots/<%= diveSpot._id %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="diveSpot[title]" value="<%= diveSpot.title %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="diveSpot[location]" value="<%= diveSpot.location %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="depth">Avg. Depth</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="depth" name="diveSpot[depth]" placeholder="0" value="<%= diveSpot.depth %>" aria-label="depth" aria-describedby="depth-units" required>
                    <span class="input-group-text" id="depth-units">ft</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="diveSpot[description]" required><%= diveSpot.description %></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input class="form-control" type="file" id="image" name="diveSpot[images]" multiple>
            </div>
            <div class="mb-3">
                <% diveSpot.images.forEach((img, i) => { %>
                    <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="" >
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>"/>
                        <label for="image-<%= i %>">Delete?</label>
                    </div>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Dive Spot</button>
            </div>
        </form>
        <div>
            <a href="/diveSpots/<%= diveSpot._id %>">Back to dive spot</a>
        </div>
    </div>
</div>