<%- layout("layouts/boilerplate") %>

<!-- Cluster map -->
<div id="cluster-map"></div>

<h1>Dive Spots</h1>
<div>
    <a href="/diveSpots/new">Add dive spot</a>
</div>

<% for (let diveSpot of diveSpots) { %>
    <div class="card mb-3 dive-spot-card">
        <div class="row">
            <div class="col-md-4">
                <img src="<%= diveSpot.images[0]?.url %>" alt="" class="img-fluid" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= diveSpot.title %></h5>
                    <p class="card-text"><%= diveSpot.description %></p>
                    <p class="card-text">
                        <small class="text-secondary"><%= diveSpot.location %></small>
                    </p>
                    <a href="/diveSpots/<%= diveSpot._id %>" class="btn btn-primary">View <%= diveSpot.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<%- "<script>" %>
const maptilerApiKey = "<%- process.env.NODE_ENV === "production" ? process.env.MAPTILER_CLIENT_API_KEY : process.env.MAPTILER_API_KEY %>"
const diveSpots = {
  type: "FeatureCollection",
  features: <%- JSON.stringify(
    diveSpots.map(diveSpot => ({
      type: "Feature",
      geometry: diveSpot.geometry,
      properties: { popUpMarkup: diveSpot?.properties?.popUpMarkup }
    }))
  ) %>
};
<%- "</script>" %>

<script src="/js/clusterMap.js"></script>